@using GamesCollection.Helper;
@model Pagination<GameViewModel>

<div class="container">


    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (Model.PageIndex > 1)
            {
                <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="page-link">
                    Previous
                </a>
            }
            @for (var page = Model.StartPage; page <= Model.EndPage; page++)
            {
                <li class="page-item @(page == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-controller="Games" asp-action="Index" asp-route-pageNumber="@(page)">@(page)</a>
                </li>
            }
            @if (Model.PageIndex < Model.TotalPages)
            {
                <a asp-action="Index"asp-route-pageNumber="@(Model.PageIndex + 1)" class="page-link">
                    Next
                </a>
            }
        </ul>
    }
</div>
